.greenItems{
    color: green;
    font-size: 2em;
    
}

.redItems{
    color: red;
    font-size: 3em;
    
}
.green {

    color:#069625;
  
    background-color:#a7e2a5;
  
    border-color:#069625;
  
  }
  .normal { font-size:12px; }
  .big { font-size:18px; }
  .orange { color:orange; }
  .blue { color:blue; }
  .left {text-align:left; }
  .right {text-align:right; }
  .center {text-align:center; }
  .italicized {
    font-style: italic;
  }
  .box {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    border-width: 10px;
}
.bigborderbox {
    width: 350px;
    height: 75px;
    margin: 10px;
    padding: 70px;
    border-width: 40px;
}

p.first {
    float:left;
  }
  
  p.second {
    float:right;
  }
  
  p.redline {
    border-top:2px solid #5e0b0b;
  }
  
  p.redline {
    position:relative;  
    border-top:3px solid red;
    color:red;
    width:300px;
    top:-16px;
    z-index:3;
    text-align:center;
  }
  
  p.redline.cb {
    left:20px; 
  }
  
  
  p.redline.bb {
    left:0px;
  }
  * {
    margin:0;
    padding:0;
  }
  body {
    padding:20px;
    font-family:Arial,sans-serif;
  }
  p {
    position: relative;
    width:240px;
    background-color:#44abe2;
    border:2px solid #004989;
    text-align:center;
  }
  
  h3 { padding:20px 0 10px;}
  h3:first-child { padding:0px 0 10px; }
  
  div.margins {
    width:242px;
    background-image:url(/.guides/img/margin-swatch.png);
  }
  h1 {
    position:relative;
    background-color:#1d76c4;
    width:140px;
    font-size:150%;
    padding:2px 20px;
    margin-left:20px;
    border-radius:4px 4px 0 0;
    z-index:10;
  }
  
  p22 {
    position:relative;
    background-color:#a1d1ea;
    width:300px;
    height:50px;
    padding:20px;
    margin-top:-10px;
    z-index:1;
    border:1px solid #1d76c4;
  }

