body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.main {
    text-align: center;
}


.container {
    /* Add Flexbox properties here */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: yellow;
    text-align: center;
    /* Style the boxes here */
    flex-basis: 600px;
    flex-grow: 10;
    flex-shrink: 11pc;
    margin: 5px;
    padding: 5px;
    
    
} 

.box:nth-child(1) .nested-container {
    display: flex;
    flex-direction: column;
}

.box:nth-child(1) .nested-container article {
    flex-grow: 1;
    flex-basis: 50px;
    margin: 5px;
}

.box:nth-child(1) .nested-container article:first-child {
    flex-grow: 2;
    flex-basis: 70px;
}